$primaryBlue: rgb(0, 89, 163);
$primaryOrange: #ffcc00;
$borderRadius: 10px;
$headerMaxWidth: 1020px;
$headerMinWidth: 740px;
$headerBackground: linear-gradient(rgb(34, 160, 238), rgb(34, 123, 186));
$footerBackground: linear-gradient(rgb(34, 123, 186), rgb(34, 160, 238));
$containerMaxWidth: 1024px;
$footerMaxWidth: 920px;
$primaryFont: "Proxima Nova Regular";
$primaryFontLight: "Proxima Nova Regular";
$primaryFontBold: "Proxima Nova Bold";

:export {
  primaryBlue: $primaryBlue;
  primaryOrange: $primaryOrange;
  borderRadius: $borderRadius;
  headerMaxWidth: $headerMaxWidth;
  headerBackground: $headerBackground;
  containerMaxWidth: $containerMaxWidth;
  footerMaxWidth: $footerMaxWidth;
  primaryFont: $primaryFont;
  primaryFontLight: $primaryFontLight;
  primaryFontBold: $primaryFontBold;
}
